certifi
chardet
dataclasses
Django
django-stubs
djangorestframework
djangorestframework-stubs
djangotoolbox
httpie
httplib2
idna
mypy
mypy-extensions
Pygments
pytz
requests
typed-ast
typing-extensions
remote-pdb
docker

