[submodule "IoT_Database"]
	path = IoT_Database
	url = https://github.com/StefanSympax/IoT_Database.git
[submodule "IoT_Monitor"]
	path = IoT_Monitor
	url = https://github.com/StefanSympax/IoT_Monitor.git
[submodule "IoT_Web"]
	path = IoT_Web
	url = https://github.com/StefanSympax/IoT_Web.git
[submodule "IoT_Register"]
	path = IoT_Register
	url = https://github.com/StefanSympax/IoT_Register.git
